/* Write your CSS here */
.resultCard {
    list-style-type: none;
    width: 250px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.image {
    height: 220px;
    width: 250px;
    border-radius: 15px;
    margin-bottom: 10px;
}

.place {
    font-family: Roboto; 
}